@model IEnumerable<polite.Models.Post>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="boardBanner">
    <div class="boardTitle">/@ViewBag.shortName/ - @ViewBag.longName</div>
</div>
<hr />

@Html.Partial("_PostForm", 0)

<div>
    <hr />
    @foreach (var item in Model)
    {
        <div id="t@(item.ID)" class="thread">
            <div id="pc@(item.ID)" class="postContainer opContainer">
                <div id="p@(item.ID)" class="post op">
                    <!-- File stuff -->
                    <div id="f@(item.ID)" class="file">
                        <div id="fT@(item.ID)" class="fileText">
                            File:
                            <a href="~/Content/Images/@(item.Board.shortName)/@(item.file)@(item.fileType)" target="_blank">@(item.fileOriginal)</a>
                            (@(item.fileSize) B, @(item.imageW), @(item.imageH))
                        </div>
                        <a class="fileThumb" href="~/Content/Images/@(item.Board.shortName)/@(item.file)@(item.fileType)" target="_blank">
                            <img src="~/Content/Images/@(item.Board.shortName)/@(item.file)s.jpg" />
                        </a>
                    </div>
                    <!-- /file stuff -->
                    <div id="pi@(item.ID)" class="postInfo">
                        <span class="subject">
                            @item.subject
                        </span>
                        <span class="nameBlock">
                            <span class="name">
                                @item.name
                            </span>
                        </span>
                        <span class="dateTime">
                            @item.timestamp
                        </span>
                        <span class="postNum">
                            <a href="@ViewBag.shortName/thread/@item.ID/#p@(item.ID)" title="Link to this post">No.</a>
                            @item.ID
                        </span>
                        <span>
                            [<a class="replyLink" href="@ViewBag.shortName/thread/@item.ID">Reply</a>]
                        </span>
                    </div>
                    <blockquote id="m@item.id" class="postMessage">
                        @Html.EncodeAndProcess(item.message, item)
                    </blockquote>
                </div>
            </div>
        </div>
        <hr>
    }
    <hr />
</div>
