@model polite.Models.BannedHash

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BannedHash</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.md5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.md5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.banTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.banTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
