@model polite.Models.Post

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Board.shortName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Board.shortName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Parent.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Parent.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tripcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tripcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.file)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.file)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.filemd5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.filemd5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fileType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fileType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fileOriginal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fileOriginal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fileSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fileSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imageW)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imageW)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imageH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imageH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.thumbW)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thumbW)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.thumbH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thumbH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ipmd5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ipmd5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timestamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timestamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stickied)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stickied)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.locked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.locked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.deletedTimestamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deletedTimestamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bumped)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bumped)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
