@model polite.Models.Post

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="boardBanner">
    <div class="boardTitle">/@Model.Board.shortName/ - @Model.Board.longName</div>
</div>
<hr />

@Html.Partial("_PostForm", Model.ID)

<div>
    <hr />
    <div id="t@(Model.ID)" class="thread">
        <div id="pc@(Model.ID)" class="postContainer opContainer">
            <div id="p@(Model.ID)" class="post op">
                <div id="pi@(Model.ID)" class="postInfo">
                    <span class="subject">
                        @Model.subject
                    </span>
                    <span class="nameBlock">
                        <span class="name">
                            @Model.name
                        </span>
                    </span>
                    <span class="dateTime">
                        @Model.timestamp
                    </span>
                    <span class="postNum">
                        <a href="#p@(Model.ID)" title="Link to this post">No.</a>
                        @Model.ID
                    </span>
                </div>
                <blockquote id="m@(Model.ID)" class="postMessage">
                    @Model.message
                </blockquote>
            </div>
        </div>

        @foreach (var item in Model.Children)
        {
            <div id="pc@(item.ID)" class="postContainer">
                <div id="p@(item.ID)" class="post reply">
                    <div id="pi@(item.ID)" class="postInfo">
                        <span class="subject">
                            @item.subject
                        </span>
                        <span class="nameBlock">
                            <span class="name">
                                @item.name
                            </span>
                        </span>
                        <span class="dateTime">
                            @item.timestamp
                        </span>
                        <span class="postNum">
                            <a href="#p@(item.ID)" title="Link to this post">No.</a>
                            @item.ID
                        </span>
                    </div>
                    <blockquote id="m@(item.ID)" class="postMessage">
                        @item.message
                    </blockquote>
                </div>
            </div>
        }

    </div>
    <hr />
</div>